# 数据读取与转换

## 2.1 数据集的描述

+ 本项目包含客户在某移动支付平台的367万条脱敏交易流水数据，交易时间跨度为5年。
+ 每个客户有多条交易流水，每条交易流水记录了客户ID、交易金额、交易附言和交易时间四个字段。
+ 各字段的英文名称、中文名称和备注如表2.1所示：

<center><font size="2.5px" face="微软雅黑" color="666666">表2.1：客户交易流水记录字段说明</font></center>
<center><img src=".\Pics\Table2_1.jpg" width="750" height="200" alt="cursor" align=center /></center>

## 2.2 从MySQL数据库中读取交易流水数据

本项目的交易流水记录存储在数据库`transactions`的`flow_data`表中。`flow_data`表的字段描述如表2.2所示：

<center><font size="2.5px" face="微软雅黑" color="666666">表2.2：flow_data数据表结构</font></center>
<center><img src=".\Pics\Table2_2.jpg" width="250" height="125" alt="cursor" align=center /></center>

为了便于分析数据，我们使用`pymysql`模块连接数据库并导出数据。

数据库连接对象`connection`
+ 作用：建立Python客户端与数据库的连接。
+ 创建方法：`connection=pymysql.connect(参数)`

数据库游标对象`cursor`
+ 作用：用于执行查询和获取结果。
+ 创建方法：`cursor = connection.cursor()`。
+ 在MySQL中，所有`SQL`语句的执行都要在游标对象的参与下完成。

<center><img src=".\Pics\Pic2_1.jpg" width="500" height="300" alt="cursor" align=center /></center>
<center><font size="2.5px" face="微软雅黑" color="666666">图2.1：数据库连接步骤</font></center>
<!-- ![图2.1：数据库连接步骤](Pic2_1.jpg) -->

>### 实训任务
>+  请补充完成创建数据库连接对象`connection`的语句。
>+  请书写`SQL`语句并赋予变量`sql1`，从数据库中查询表`flow_data`的行数。
>+  请书写`SQL`语句并赋予变量`sql2`，从数据库中查询表`flow_data`的前五行。

提示：`connection`对象中的参数为：
 + `host`：MySQL服务器地址。
 + `port`：连接的端口号，MySQL数据库默认端口是`3306`。
 + `user`和`password`：登陆数据库的用户名和密码。
 + `db`：要连接的数据库名字。
 + `charset`：字符编码，我们设置为`utf8mb4`，因为它可以很好地支持中文。
 
 
表2.3显示了创建连接对象`connection`所需要的参数信息：

<center><font size="2.5px" face="微软雅黑" color="666666">表2.3：MySQL连接参数表</font></center>

|参数名称|参数信息|参数类型|
|:----|:-----|:----|
|host|traindb.cookdata.cn|string|
|port|3306|int|
|user|raa_user|string|
|password|bigdata123|string|
|db|transactions|string|
|charset|utf8mb4|string|

可以看到数据行数为3672588，使用游标对象读取出的数据以嵌套元组的方式进行存储。

In [ ]:
import pymysql

# 建立连接对象
connection = pymysql.connect(
    host = 'traindb.cookdata.cn',
    port = 3306,
    user = 'raa_user',
    password = 'bigdata123',
    db = 'transactions',
    charset = 'utf8mb4',
)

try:
    with connection.cursor() as cursor:
        # 查询数据表行数
        sql1 = "SELECT count(*) FROM flow_data"
        # 选取表的前五行
        sql2 = "SELECT * FROM flow_data LIMIT 5"

        cursor.execute(sql1)
        rows = cursor.fetchall() 
        cursor.execute(sql2)
        head = cursor.fetchall() 

finally:
    connection.close()

# 查看数据的行列数
print('数据行数为:',rows,'\n前五行数据为:',head)